---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/droplets/6213326?per_page=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4981'
      Ratelimit-Reset:
      - '1437579831'
    body:
      encoding: UTF-8
      string: '{"droplet":{"id":6213326,"name":"id-droplet","memory":512,"vcpus":1,"disk":20,"locked":false,"status":"active","kernel":{"id":5175,"name":"Ubuntu
        14.04 x64 vmlinuz-3.13.0-57-generic","version":"3.13.0-57-generic"},"created_at":"2015-07-19T20:21:13Z","features":["virtio"],"backup_ids":[],"next_backup_window":null,"snapshot_ids":[],"image":{"id":12790328,"name":"14.04
        x64","distribution":"Ubuntu","slug":"ubuntu-14-04-x64","public":true,"regions":["nyc1","ams1","sfo1","nyc2","ams2","sgp1","lon1","nyc3","ams3","fra1"],"created_at":"2015-07-17T16:39:08Z","min_disk_size":20,"type":"snapshot"},"size":{"slug":"512mb","memory":512,"vcpus":1,"disk":20,"transfer":1.0,"price_monthly":5.0,"price_hourly":0.00744,"regions":["nyc1","sgp1","ams1","sfo1","nyc2","lon1","nyc3","ams3","ams2","fra1"],"available":true},"size_slug":"512mb","networks":{"v4":[{"ip_address":"168.36.254.208","netmask":"255.255.224.0","gateway":"104.131.192.1","type":"public"}],"v6":[]},"region":{"name":"New
        York 2","slug":"nyc2","sizes":["32gb","16gb","2gb","1gb","4gb","8gb","512mb","64gb","48gb"],"features":["private_networking","backups","metadata"],"available":true}}}'
  recorded_at: Wed, 22 Jul 2015 15:27:13 GMT
[...]
