---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/droplets?per_page=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4984'
      Ratelimit-Reset:
      - '1437579831'
    body:
      encoding: UTF-8
      string: '{"droplets":[{"id":4288765,"name":"cool-example-droplet","memory":1024,"vcpus":1,"disk":30,"locked":false,"status":"active","kernel":{"id":377,"name":"CentOS
        6.5 x64 vmlinuz-2.6.32-431.1.2.0.1.el6.x86_64","version":"2.6.32-431.1.2.0.1.el6.x86_64"},"created_at":"2015-02-27T14:48:01Z","features":["backups","ipv6","virtio"],"backup_ids":[12516625,12618223,12716326,12805741],"next_backup_window":{"start":"2015-07-24T20:00:00Z","end":"2015-07-25T19:00:00Z"},"snapshot_ids":[],"image":{"id":10806976,"name":"Blog
        27-Feb-2015 Working","distribution":"CentOS","slug":null,"public":false,"regions":["lon1"],"created_at":"2015-02-27T14:44:25Z","min_disk_size":20,"type":"snapshot"},"size":{"slug":"1gb","memory":1024,"vcpus":1,"disk":30,"transfer":2.0,"price_monthly":10.0,"price_hourly":0.01488,"regions":["nyc2","sgp1","ams1","sfo1","lon1","nyc3","ams3","nyc1","ams2","fra1"],"available":true},"size_slug":"1gb","networks":{"v4":[{"ip_address":"178.62.19.42","netmask":"255.255.192.0","gateway":"178.62.0.1","type":"public"}],"v6":[{"ip_address":"2A03:B0C0:0001:00D0:0000:0000:0308:D001","netmask":64,"gateway":"2A03:B0C0:0001:00D0:0000:0000:0000:0001","type":"public"}]},"region":{"name":"London
        1","slug":"lon1","sizes":["32gb","16gb","2gb","1gb","4gb","8gb","512mb","64gb","48gb"],"features":["private_networking","backups","ipv6","metadata"],"available":true}},{"id":6213326,"name":"foo","memory":512,"vcpus":1,"disk":20,"locked":false,"status":"active","kernel":{"id":5175,"name":"Ubuntu
        14.04 x64 vmlinuz-3.13.0-57-generic","version":"3.13.0-57-generic"},"created_at":"2015-07-19T20:21:13Z","features":["virtio"],"backup_ids":[],"next_backup_window":null,"snapshot_ids":[],"image":{"id":12790328,"name":"14.0[...]
- request:
    method: post
    uri: https://api.digitalocean.com/v2/droplets/6252658/actions
    body:
      encoding: UTF-8
      string: '{"type":"password_reset"}'
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4982'
      Ratelimit-Reset:
      - '1437581392'
      Etag:
      - '"f9b081321f1ead60fc860f595f8f29b3"'
    body:
      encoding: UTF-8
      string: '{"action":{"id":57415117,"status":"in-progress","type":"password_reset","started_at":"2015-07-22T15:55:25Z","completed_at":null,"resource_id":6252658,"resource_type":"droplet","region":{"name":"New
        York 2","slug":"nyc2","sizes":["1gb","2gb","4gb","8gb","32gb","64gb","512mb","48gb","16gb"],"features":["private_networking","backups","metadata"],"available":true},"region_slug":"nyc2"}}'
  recorded_at: Wed, 22 Jul 2015 15:55:43 GMT
recorded_with: VCR 2.9.3
